<div class="book_show_center">
	<div class="book_show_box1">
		<h3>BOOKMARK</h3>
	</div>
	<div class="book_show_box2">
		<h3>ブックマーク</h3>
	</div>
	<div class="book_show_all">
		<div class="book_show_box_left">
		</div>
		<div class="book_show_box_right">
			<div class="book_show_box3">
				<h3>ARICLE</h3>
				<%= @book.article %>
			</div>
			<div class="book_show_box3">
				<h3>CATEGORY</h3>
				<p>カテゴリー</p>
			</div>
			<div class="book_show_box3">
				<h3>URL</h3>
				<%= @book.url %>
			</div>
			<div class="book_show_box3">
				<h3>NAME</h3>
				<%= @book.user.name %>
			</div>
			<div>
				<%= link_to "編集",edit_book_path(@book.id) %>
			</div>
			<div>
				<!-- いいね機能 -->
				<% if Favorite.find_by(user_id:current_user.id,book_id:@book.id) %>
					<%= link_to("/favorites/#{@book.id}/destroy",{method: "post"}) do %>
					<span class="fa fa-heart like-btn-unlike"></span>
					<% end %>
				<% else %>
					<%= link_to("/favorites/#{@book.id}/create",{method: "post"}) do %>
					<span class="fa fa-heart like-btn"></span>
					<% end %>
				<% end %>
				<span><%= @favoritescount %></span>
				<!-- いいね機能　fin -->
			</div>
		</div>
	</div>
</div>
