<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
    <div id="header">
       <button id="button">MENU</button>
    </div>
    </header>
  <nav id="slide_menu">
    <div class="header_logo">
      <a href="/"></a>
    </div>
    <% if user_signed_in? %>
          <li>
            <%= link_to "SHARE",new_book_path %>
          </li>
          <li>
            <%= link_to "MYPAGE",user_path(current_user.id) %>
          </li>
          <li>
            <%= link_to("FAVORITE", "/users/#{current_user.id}/favorites") %>
          </li>
          <% else %>
          <li>
            <%= link_to "LOGIN",new_user_session_path %>
          </li>
          <li>
            <%= link_to "NEW ACCOUNT",new_user_registration_path %>
          </li>
          <% end %>
  </nav>
  <span id="back">
    <a href="#">
      <img src="/images/arrow.png" alt="">
    </a>
  </span>
    <%= yield %>
  </body>

  <footer>
    <p class="footer-text"> ©︎All rights reserved by .</p>
  </footer>
</html>
