<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
    <div id="header">
      <nav id="header-box">
        <ul class="header_link">
          <% if user_signed_in? %>
          <li>
            <%= link_to "BOOKMARK",new_book_path %>
          </li>
          <li>
            <%= link_to "MYPAGE",user_path(current_user.id) %>
          </li>
          <li>
            <%= link_to("FAVORITE", "/users/#{current_user.id}/favorites") %>
          </li>
          <% else %>
          <li>
            <%= link_to "LOGIN",new_user_session_path %>
          </li>
          <li>
            <%= link_to "NEW ACCOUNT",new_user_registration_path %>
          </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
    <%= yield %>
  </body>
  <footer>
    
  </footer>
</html>
