<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="header_logo">BookmarkOnline</div>
      <div class="header_search"></div>
        <ul class="header_link">
          <% if user_signed_in? %>
          <li>
            <%= link_to "BOOKMARK",books_new_path %>
          </li>
          <li>
            <%= link_to "MYPAGE",users_show_path %>
          </li>
          <li>
            <%= link_to "LOGOUT" ,destroy_user_session_path, method: :delete%>
          </li>
          <% else %>
          <li>
            <%= link_to "LOGIN",new_user_session_path %>
          </li>
          <li>
            <%= link_to "NEW ACCOUNT",new_user_registration_path %>
          </li>
          <% end %>
        </ul>
    </div>
    <%= yield %>
  </body>
  <footer>
    
  </footer>
</html>
