<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag('favicon.ico') %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="./js/dist/zoomslider.css">
  </head>

  <body>
    <header>
    <div id="header">
       <button id="button">MENU</button>
    </div>
    </header>
    <div class="loading">
      <%= image_tag "5.gif" %>
    </div>
  <nav id="slide_menu">
    <div class="header_logo">
      <a href="/"></a>
    </div>
    <% if user_signed_in? %>
          <li>
            <%= link_to "SHARE",new_book_path %>
          </li>
          <li>
            <%= link_to "MYPAGE",user_path(current_user.id) %>
          </li>
          <li>
            <%= link_to("FAVORITE", "/users/#{current_user.id}/favorites") %>
          </li>
          <% else %>
          <li>
            <%= link_to "LOGIN",new_user_session_path %>
          </li>
          <li>
            <%= link_to "NEW ACCOUNT",new_user_registration_path %>
          </li>
          <% end %>
  </nav>
  <span id="back">
    <a href="#">
      <%= image_tag 'back2.png' %>
    </a>
  </span>
    <%= yield %>
    <script src="./script/jquery.scrollify.js"></script>
  </body>

  <footer>
    <p class="footer-text"> ©︎All rights reserved by .</p>
  </footer>
</html>
